BODY {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	/*text-align: center;*/
	/*background : url(images/background_grad.jpg);*/
	/*background-repeat : repeat-x;*/
	background-color: #DBDBE0;
	/*background : transparent;*/
	scrollbar-base-color: #DBDBE0;
    scrollbar-face-color: #DBDBE0;
    scrollbar-track-color: default;
    scrollbar-arrow-color: #555555;
    scrollbar-3dlight-color: #555555;
    scrollbar-darkshadow-color: gray;
    scrollbar-highlight-color: white;
    scrollbar-shadow-color: #DBDBE0;
}

DIV#nav1 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : transparent;
	border : 0px solid #333333;
	border-top-width : 1px;
	width: 707px;
	height: 24px;
	top: 481px;
	left: 0px;
	/*background : url(blackforest.jpg);*/
	background-color: white; /*#DFDFDF;*/
	position : absolute;
	margin: 0 auto;
	text-align: left;
	/*color : black;
	*/
	/*margin-top: 0px;
	*/
	/*filter: progid:DXImageTransform.Microsoft.Shadow(strength=5,direction=135,color='#808080');
	*/
	/*filter:alpha(opacity=100);
	*/
}

DIV#nav2 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : transparent;
	border : 0px solid #333333;
	border-top-width : 1px;
	width: 707px;
	height: 24px;
	top: 505px;
	left: 0px;
	/*background : url(blackforest.jpg);*/
	background-color:  #F5F5F5;
	position : absolute;
	margin: 0 auto;
	text-align: center;
	/*color : black;
	*/
	/*margin-top: 0px;
	*/
	/*filter: progid:DXImageTransform.Microsoft.Shadow(strength=5,direction=135,color='#808080');
	*/
	/*filter:alpha(opacity=100);
	*/
}

DIV#title {
	top: 4px;
	position : relative;
}