BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 50px; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px; BACKGROUND-COLOR: #c0c0c0
}
A:link {
	COLOR: #977f56
}
A:visited {
	COLOR: #977f56
}
A:hover {
	COLOR: #977f56
}
A:active {
	COLOR: #977f56
}
.page {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
TH {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
P {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
LI {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.tborder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.tcat {
	BORDER-RIGHT: #d6ccbd 2px dashed; BORDER-TOP: #d6ccbd 2px dashed; FONT: bold 12pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: #d6ccbd 2px dashed; COLOR: #554fa0; BACKGROUND-COLOR: #eeecf6
}
.tcat A:link {
	COLOR: #554fa0; TEXT-DECORATION: none
}
.tcat A:visited {
	COLOR: #554fa0; TEXT-DECORATION: none
}
.tcat A:hover {
	COLOR: #554fa0; TEXT-DECORATION: underline
}
.tcat A:active {
	COLOR: #554fa0; TEXT-DECORATION: underline
}
.thead {
	FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #d8b577
}
.thead A:link {
	COLOR: #ffffff
}
.thead A:visited {
	COLOR: #ffffff
}
.thead A:hover {
	COLOR: #ffffff
}
.thead A:active {
	COLOR: #ffffff
}
.tfoot {
	COLOR: #bf7b46; BACKGROUND-COLOR: #f1d496
}
.tfoot A:link {
	COLOR: #bf7b46
}
.tfoot A:visited {
	COLOR: #bf7b46
}
.tfoot A:hover {
	COLOR: #bf7b46
}
.tfoot A:active {
	COLOR: #bf7b46
}
.alt1 {
	BORDER-TOP: #d6ccbd 2px dashed; FONT-SIZE: 10pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt1Active {
	BORDER-TOP: #d6ccbd 2px dashed; FONT-SIZE: 10pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt2 {
	BORDER-TOP: #d6ccbd 2px dashed; FONT-SIZE: 10pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt2Active {
	BORDER-TOP: #d6ccbd 2px dashed; FONT-SIZE: 10pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt3 {
	COLOR: #000000; BACKGROUND-COLOR: #d5d8e5
}
.wysiwyg {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #f5f5ff
}
TEXTAREA {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.bginput {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.button {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
SELECT {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTGROUP {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.smallfont {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.time {
	COLOR: #666686
}
.navbar {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.fjsel {
	COLOR: #e0e0f6; BACKGROUND-COLOR: #3e5c92
}
.fjdpth0 {
	COLOR: #000000; BACKGROUND-COLOR: #f7f7f7
}
.panel {
	BORDER-RIGHT: 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; BACKGROUND: url(../../images/gradients/gradient_panel.gif) #e4e7f5 repeat-x left top; PADDING-BOTTOM: 10px; BORDER-LEFT: 2px outset; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: 2px outset
}
.panelsurround {
	BACKGROUND: url(../../images/gradients/gradient_panelsurround.gif) #d5d8e5 repeat-x left top; COLOR: #000000
}
LEGEND {
	FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #22229c
}
.vbmenu_control {
	BORDER-RIGHT: #d6ccbd 2px dashed; PADDING-RIGHT: 6px; BORDER-TOP: #d6ccbd 2px dashed; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: #d6ccbd 2px dashed; COLOR: #554fa0; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eeecf6
}
.vbmenu_control A:link {
	COLOR: #554fa0; TEXT-DECORATION: none
}
.vbmenu_control A:visited {
	COLOR: #554fa0; TEXT-DECORATION: none
}
.vbmenu_control A:hover {
	COLOR: #554fa0; TEXT-DECORATION: underline
}
.vbmenu_control A:active {
	COLOR: #554fa0; TEXT-DECORATION: underline
}
.vbmenu_popup {
	BORDER-RIGHT: #0b198c 1px solid; BORDER-TOP: #0b198c 1px solid; BORDER-LEFT: #0b198c 1px solid; COLOR: #000000; BORDER-BOTTOM: #0b198c 1px solid; BACKGROUND-COLOR: #ffffff
}
.vbmenu_option {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #000000; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #dde
}
.vbmenu_option A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.vbmenu_option A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.vbmenu_option A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #aae
}
.vbmenu_hilite A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bigusername {
	FONT-SIZE: 14pt
}
TD.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.pagenav A {
	TEXT-DECORATION: none
}
.pagenav TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.fieldset {
	MARGIN-BOTTOM: 6px
}
.fieldset {
	FONT-SIZE: 11px
}
.fieldset TD {
	FONT-SIZE: 11px
}
.fieldset P {
	FONT-SIZE: 11px
}
.fieldset LI {
	FONT-SIZE: 11px
}
FORM {
	DISPLAY: inline
}
LABEL {
	CURSOR: default
}
.normal {
	FONT-WEIGHT: normal
}
.inlineimg {
	VERTICAL-ALIGN: middle
}
#bigbutton {
	BORDER-RIGHT: #778 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #778 1px solid; PADDING-LEFT: 10px; BACKGROUND: #dde; PADDING-BOTTOM: 10px; MARGIN: 10px; FONT: bold 12px Verdana, sans-serif; BORDER-LEFT: #778 1px solid; COLOR: #448; PADDING-TOP: 10px; BORDER-BOTTOM: #778 1px solid; TEXT-DECORATION: none
}
#bigbutton A:hover {
	BORDER-RIGHT: #227 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #227 1px solid; PADDING-LEFT: 10px; BACKGROUND: #aae; PADDING-BOTTOM: 10px; MARGIN: 10px; FONT: bold 12px Verdana, sans-serif; BORDER-LEFT: #227 1px solid; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #227 1px solid; TEXT-DECORATION: none
}
#navlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; FONT: bold 12px Verdana, sans-serif; MARGIN-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #778 1px solid
}
#navlist LI {
	DISPLAY: inline; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#navlist LI A {
	BORDER-RIGHT: #778 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #778 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #dde; PADDING-BOTTOM: 3px; MARGIN-LEFT: 3px; BORDER-LEFT: #778 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #778 1px; TEXT-DECORATION: none
}
#navlist LI A:link {
	COLOR: #448
}
#navlist LI A:visited {
	COLOR: #667
}
#navlist LI A:hover {
	BORDER-LEFT-COLOR: #227; BACKGROUND: #aae; BORDER-BOTTOM-COLOR: #227; COLOR: #000; BORDER-TOP-COLOR: #227; BORDER-RIGHT-COLOR: #227
}
#navlist LI A#current {
	BACKGROUND: white; BORDER-BOTTOM: white 1px solid
}
